body{
  margin: 0;
  padding: 0;
}
h1{
  font-size: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5em;
}
#h{
  color: #3f3f37;
}

header figure{
  display: inline-block;
vertical-align: middle;

}

span{
  color: #288bc7;
}
nav{
  background-color:#288bc7;
  margin: 1em;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px #3f3f37;
}
nav li{
  display: inline-block;
  padding: 1.5em;

}
nav a{
  text-decoration: none;
  padding: 2em;
  color:white;
}
a:hover{
  color: #3f3f37;
}

#img1{
  width:300px;
  height: 200px;
}
#img2{
  width: 100%;
  height: 350px;
  margin: auto;
}

#fig{
  margin: auto 10em;
}
.art1{
  margin-left:9%;
  margin-top: 3em;

}
h2{
  color:#3f3f37;
}
footer{
  margin-top: 4%;
  background-color: #cfd2cd;

  border-radius: 5px;
}
footer img{
  height: 50px;
  width: 50px;
  float: left;
}
footer p{
  text-align:right;
}
#p1{
  text-align: center;
}

tr,td,table,th{
  border-collapse: collapse;
  border:1px solid black;
  padding: 1em;

}
caption{
  font-size: 20px;
}
